*.iml
.gradle
.kotlin
/local.properties
local.properties
.idea/
.DS_Store
/build
build/
app/build/
build_output/
/captures
.externalNativeBuild
.cxx
.env
debug.keystore
*.zip
*.apk
scratch/
mqtt_assistant_full_config.json
